.nav-container{
  margin-bottom: 6em;
}

.btn-outline-dark{
  padding: 14px 20px;
}

.navbar-basket{
  margin-left: 20px;
}

.form-control{
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #757575;
}

.title-content{
  font-size: 22px;
  margin-top: 2em;
}
.container-items{
  height: 100%;
  width: 33%;
  display: flex;
  flex-flow: column;
}

.container-items img{
  height: 80%;
  width: 100%;
  margin-bottom: 1em;
  object-fit: cover;
}

.content-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container-items{
  margin: 1em 0px;
  cursor: pointer;
  transition: -moz-transform .5s, zoom .5s, box-shadow .7s;
}

.container-items p{
  margin-left: 5px;
}

.container-items :nth-child(3){
  color: #626262;
  font-size: 14px;
}

.container-items :nth-child(4){
  font-size: 13px;
}

.container-items:hover{
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
  -moz-transform: scale(1.02);
   zoom: 1.02;
}

.footer{
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #262626;
  margin-top: 6em;
}

.footer-block-info, .footer-block-link, .footer-block-ruls{
  color: white;
  border-top: 1px solid rgba(255, 255, 255, .4);
  padding: 2em 0px;
}

.myselect{
  position: relative;
  display: inline-block;
  display: flex;
}

.footer-block-info select{
  display: inline-block;
  outline: none;
  background-color: #3B3B3B;
  background-image: url("/assets/icon/world.svg"), url("/assets/arrow-back.svg");
  background-repeat:  no-repeat, no-repeat;
  background-position: 6% center, 97% center;
  -webkit-appearance: none;
  background-size: 7.5%;
  color: white;
  padding: 10px 12px 10px 18%;
  width: 15em;
  border: 2px solid #3B3B3B;
  border-radius: 3px;
  cursor: pointer;
}

.footer-block-brand{
  padding: 2em 0px;
}

.footer-block-link{
  display: flex;
  justify-content:center;
}

.fixed-bottom{
  justify-content: flex-end;
}

.btn-success{
  border-radius: 2px;
  border: 2px solid #59BD5A;
  padding: 25px 30px;
  background: #59BD5A;
  margin: 0px 16px 24px 0px;
}

.btn-success{
  border-radius: 2px;
  border: 2px solid #59BD5A;
  padding: 25px 30px;
  background: #59BD5A;
  margin: 0px 16px 24px 0px;
}

.fixed-bottom{
  justify-content: flex-end;
}

html, body, .page{
height: 100%;
min-height: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  flex: 1 0 auto;
}

.footer{
  flex: 0 0 auto;
}

img{
  cursor: pointer;
}
