// .btn-outline-dark{
//   border: 1px solid #E0E0E0;
//   border-radius: 2px;
//   padding: 14px 20px;
//   margin-right: 30px;
// }
//
// button.btn.btn-outline-dark{
//   font: Roboto;
//   font-size: 15px;
//   font-weight: 600;
// }

.container-items{
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
